/*.new_user {
  padding: 20px;
  border: 1px #aaa solid;
  margin: 0 auto;
}

.notice {
  padding: 20px;
  border: 1px #aaa solid;
  background: rgba(255, 0, 0, 0.43);
  color: red;
  font-weight: 600;
  text-align: center;
}*/
.container
{
	margin-top: 11%;
}

body
{
	background: repeating-linear-gradient(
  to right,
  #196896,
  #196896 50px,
  #1b6fa0 50px,
  #1b6fa0 90px
	);
}

h1
{
	margin-bottom: 25px;
	font-size: 70px;
	font-family: 'Lobster', cursive;
  text-shadow: 3px 8px #182d4f;
  text-shadow: #000 0 0 15px;
}

input.form-control
{
  height: 44px;
  /*box-shadow: 2px 2px 5px #073a8c;*/
}


.signupBtn
{
	margin-left:33%;
	margin-top: 25px;
}


#rememberme
{
	font-size: 14px;
	color: #d1d2d3;
	margin-bottom: 15px;
}

.header{
	text-align: center;
	color: #fff;
}

.defaultButtonsIndex
{
  background: #227bb7;
  background-image: -webkit-linear-gradient(top, #227bb7, #2980b9);
  background-image: -moz-linear-gradient(top, #227bb7, #2980b9);
  background-image: -ms-linear-gradient(top, #227bb7, #2980b9);
  background-image: -o-linear-gradient(top, #227bb7, #2980b9);
  background-image: linear-gradient(to bottom, #227bb7, #2980b9);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  border-color: #227bb7;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 2px 2px 5px #073a8c;
}

.btn-signup
{
  height: 40px;
  width: 100px;
  text-align: center;
}

.defaultButtonsIndex:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #227bb7);
  background-image: -moz-linear-gradient(top, #3cb0fd, #227bb7);
  background-image: -ms-linear-gradient(top, #3cb0fd, #227bb7);
  background-image: -o-linear-gradient(top, #3cb0fd, #227bb7);
  background-image: linear-gradient(to bottom, #3cb0fd, #227bb7);
  border-color: #3cb0fd;
  text-decoration: none;
}

.btn-login
{
  height: 40px;
  width: 72.5px;
  text-align: center;
  width:100%;
}

span
{
	/*color: #fff;*/
	margin-left: 7px;
	margin-right: 7px;
}

.buttons
{
	width : 50%;
	margin : 0 auto;
}

input,
input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 3;
}

/* GLYPHICONS ATTRIBUTES */


.right-inner-addon {
    position: relative;
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 10px 4px;
    pointer-events: none;
    color: #555;
    font-size: 20px;
}

.right-inner-addon span.glyphicon-ok-sign{
    color: #2580db;
}